<% include partials/header %>
<main class="container text-center">
    <h2>Welcome</h2>
    <a href="/recommend-user">Recommended users</a>
    <a href="/recommend-movies">Recommended movies</a>
</main>
<% include partials/footer %>
