<% include partials/header %>
<main class="container text-center">
  <h2>Recommend users for <%=data.user.name%></h2>
  <% include partials/recommendForm %>
  <table>
    <tr>
      <th>User</th>
      <th>Id</th>
      <th>Score</th>
    </tr>
    <% for (const user of data.weightedUserScores) { -%>
    <tr>
      <th><%=user.Name%></th>
      <th><%=user.UserId%></th>
      <th><%=user.similarity%></th>
    </tr>
    <% } -%>
  </table>
</main>
<% include partials/footer %>
