<% include partials/header %>
<main class="container text-center">
  <a href="/">Home</a>
  <% if (data.user) { -%>
    <h2>Recommend movies for <%=data.user.name%></h2>
    <% include partials/recommendForm %>
    <table>
      <tr>
        <th>Id</th>
        <th>Movie</th>
        <th>Score</th>
      </tr>

      <% for (const movie of data.weightedMovieScores) { -%>
      <tr>
        <th><%=movie.id%></th>
        <th><%=movie.movie%></th>
        <th><%=movie.similarityScore%></th>
      </tr>
      <% } -%>
    </table>
  <% } else { -%>
    
  <% } -%>
</main>
<% include partials/footer %>
